<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="<%= site.description %> <%- sidebar.about %>" />
  <title><%
    if (pageTitle==="Index") {
      %><%= site.name %><%
    } else {
      %><%= pageTitle %> - <%= site.name %><%
    } %></title>
  <link rel="stylesheet" href="/theme/<%= site.theme %>/<%= site.theme %>.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/lib/exvalidation/exvalidation.css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
  <% if (site.appleTouchIcon) { %>
  <link rel="apple-touch-icon" href="<%= site.appleTouchIcon %>" />
  <% } %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <% if (site.googleAnalitics) { %>
  <%- partial('partials/analitics') %>
  <% } %>
<%- body %>
  <% if (site.sockets) { %>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" >
    var socket = io.connect('/');
  </script>
  <% for (var i in site.sockets) { %>
    <%- partial("js/" + site.sockets[i]) %>
    <% } %>
  <% } %>
</body>
</html>
