<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="<%= site.description %> <%- sidebar.about %>" />
  <title><%
    if (pageTitle==="Index") {
      %><%= site.name %><%
    } else {
      %><%= pageTitle %> - <%= site.name %><%
    } %></title>
  <link rel="stylesheet" href="/theme/<%= site.theme %>/<%= site.theme %>.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/lib/exvalidation/exvalidation.css" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
  <% if (site.appleTouchIcon) { %>
  <link rel="apple-touch-icon" href="<%= site.appleTouchIcon %>" />
  <% } %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <% if (site.googleAnalitics) { %>
  <%- partial('partials/analitics') %>
  <% } %>
<%- body %>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/cursor.js"></script>
  <script type="text/javascript" >
    // for firefly
    var socket = io.connect('/');
    socket.on('info', function (data) {
      console.log(JSON.stringify(data));
    });
    socket.on('entry cursor', function(data) {
      Cursor.add(data.id);
    });
    socket.on('move cursor', function(data) {
      var screen = data.screen;
      var cursor = Cursor.get(data.id);
      cursor.update(
        screen.x * w.width() / screen.width,
        screen.y * w.height() / screen.height
      );
    });
    socket.on('disconnect', function(data) {
      Cursor.remove(data.id);
    });

    var w = $(window);
    w.mousemove(function(e) {
      socket.emit('mouse position', {
        width:  w.width(),
        height: w.height(),
        x: e.clientX,
        y: e.clientY
      });
    });
  </script>
  <script>
    // for counter
    jQuery(function($){
      var counter = $('<div />');
      counter
        .attr('align', 'center')
        .css({
          'font-size': '3em',
          'top': 0,
          'left': w.width() - counter.width(),
          'width': 50,
          'height': 50,
          'border-radius': 25,
          'position': 'fixed',
          'color': 'white',
          'background-color': "rgb(128,30,0)"
        })
        .css('background-color', "rgba(128,30,0,0.4)") // for CSS3
        .appendTo(document.body);
      var noticeCount = function(count) {
        counter
          .css('left', w.width() - counter.width())
          .text(count)
          .fadeIn(3000, function() {
            counter.fadeOut(2000);
          });
      }
      socket.on('change count', function(data) {
        noticeCount(data.clientCount);
      });
    });
  </script>
</body>
</html>
