!!!

%html
  %head
    %meta(charset='utf-8')
    %meta{name: 'description', content: data.information.description}

    %meta{property: 'og:title', content: data.information.name}
    %meta{property: 'og:site_name', content: data.information.name}
    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'og:url', content: data.information.url}
    -# %meta{property: 'og:image', content: ''}
    %meta{property: 'og:description', content: data.information.description}

    %title
      - title = current_page.data.title.presence
      = [title, data.information.name].compact.join(' | ')

    = stylesheet_link_tag 'style'
  %body
    /[if lte IE 8]
      = partial 'unsupported_browser_warning'
    #wrapper
      #container
        %header
          #header-menu
            %nav
              %ul
                %li= link_to 'About', '#about'
                %li= link_to 'Archive', '/news'
                %li= link_to 'RSS', '/rss.xml'

            #search-application

          %h1
            = link_to data.information.name, '/'

        #content
          = yield

      %footer
        #footer-container
          #footer-left
            %h2#about About
            .description
              :markdown
                #{data.information.about}

          #footer-middle
            %h2#members Members
            %ul#member-icons
              - data.members.each do |member|
                %li
                  - name = member.name
                  %a{href: member.link, title: name}
                    = image_tag "http://www.gravatar.com/avatar/#{member.gravatar}?s=24", width: 24, height: 24, alt: name, title: name

          #footer-right
            %h2#github GitHub
            .description
              :markdown
                #{data.information.github}

            %h2#mailing-list ML
            .description
              :markdown
                #{data.information.ml}

          #copyright
            :markdown
              #{data.information.copyright}

    = javascript_include_tag 'sapporo.js'

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16255135-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
