!!!

%html
  %head
    %meta(charset='utf-8')
    %meta(name='description' content='We like JavaScript. From Sapporo, Japan.')

    %meta(property='og:title' content='Sapporo.js')
    %meta(property='og:site_name' content='Sapporo.js')
    %meta(property='og:type' content='website')
    %meta(property='og:url' content='http://sapporojs.org')
    -# %meta(property='og:image' content="")
    %meta(property='og:description' content='We like JavaScript. From Sapporo, Japan.')

    = stylesheet_link_tag 'style'
  %body
    #wrapper
      #container
        %header
          %nav
            %ul
              %li= link_to 'About', '#about'
              %li= link_to 'Archive', '/news'
              %li= link_to 'RSS', '/rss.xml'

          %h1
            = link_to 'Sapporo.js', '/'

          #search-application

        #content
          = yield

      %footer
        #footer-container
          #footer-left
            %h2#about About
            :markdown
              Sapporo.js は札幌で JavaScript が好きなひとが集まるコミュニティです。

          #footer-middle
            %h2#members Members
            %ul#member-icons
              - data.members.each do |member|
                %li
                  - name = member.name
                  = link_to member.link, title: name do
                    = image_tag "http://www.gravatar.com/avatar/#{member.gravatar}?s=24", width: 24, height: 24, alt: name, title: name

          #footer-right
            %h2#github GitHub
            :markdown
              [sapporojs/sapporojs.org](https://github.com/sapporojs/sapporojs.org)

            %h2#mailing-list ML
            :markdown
              [sapporojs - Qwik](http://qwik.jp/sapporojs/)

          #copyright
            :markdown
              Copyright &copy; [Sapporo.js](http://sapporojs.org) All Rights Reserved.

    = javascript_include_tag 'sapporo.js'
