<div id="modal-wrapper">
  <div id="modal-container">
    {{view Sapporojs.SearchTextFieldView valueBinding=controller.query}}
    <ul class="results">
      {{view Sapporojs.SearchResultTextView}}
      {{#each controller}}
        <li>
          <h2><a {{bindAttr href=url}}>{{title}}</a></h2>
          {{summary_text}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{view Sapporojs.ModalBgView controllerBinding="controller"}}
