- blog.articles[0...5].each do |article|
  %article.blog
    %h1
      = link_to article.title, article.url

    - article.tags.each do |tag|
      = link_to tag, "/tag/#{tag}" # TODO Use `tag_path(tag)`

    = article.summary

    %time
      = article.date.strftime('%b %e %Y')

    = link_to 'More', article.url
